<h2>hello</h2>
<form action="/celebrities/new" method="post">
  <h1>add a celebrities</h1>
  <label for="name">name</label>
  <input type="text" name="name">
  <label for="occupation">occupation</label>
  <input type="text" name="occupation">
  <label for="catchPhrase">catchPhrase</label>
  <input type="text" name="catchPhrase">
  <button class="btn">create</button>
</form>